cmake.bld
/papers/generated/
compile_commands.json
.update-submodules
.use-docker
/.build/
/.cache/
uv.lock
/.install/
/installtest/.build/
/.emacs.d/eln-cache/
/.emacs.d/elpa-31.0.50/
/.emacs.d/elpa/
*.deps
*.html
